In [2]:
##importing packages and reading the datafile
import numpy as np
import pandas as pd
data = pd.read_csv('/content/drug200.csv')

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None

In [3]:
print(data.head())

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY
Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [6]:
print(data.isna().sum())

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [7]:
df1 = pd.get_dummies(data=data, columns=['BP','Cholesterol','Sex'])
df1.head()

,Age,Na_to_K,Drug,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Sex_F,Sex_M
0,23,25.355,DrugY,1,0,0,1,0,1,0
1,47,13.093,drugC,0,1,0,1,0,0,1
2,47,10.114,drugC,0,1,0,1,0,0,1
3,28,7.798,drugX,0,0,1,1,0,1,0
4,61,18.043,DrugY,0,1,0,1,0,1,0

In [12]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
df1[['Na_to_K']] = sc.fit_transform(df1[['Na_to_K']])
df1.head()

,Age,Na_to_K,Drug,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Sex_F,Sex_M
0,23,0.596848,DrugY,1,0,0,1,0,1,0
1,47,0.213397,drugC,0,1,0,1,0,0,1
2,47,0.120239,drugC,0,1,0,1,0,0,1
3,28,0.047814,drugX,0,0,1,1,0,1,0
4,61,0.368191,DrugY,0,1,0,1,0,1,0

In [13]:
x=df1.drop(['Drug'],axis=1)

In [14]:
y=df1["Drug"]

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=4,test_size=0.25)

In [20]:
#logistic regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [18]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [23]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print("accuracy",accuracy)

accuracy 0.82

In [28]:
##svm classifier
from sklearn.svm import SVC
model1 = SVC(kernel='linear', C=1, gamma='auto')
model1.fit(x_train,y_train)
y_pred=model1.predict(x_test)

In [32]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print("accuracy",accuracy)

accuracy 0.74

In [48]:
#KNN CLASSIFER
from sklearn.neighbors import KNeighborsClassifier
model3 = KNeighborsClassifier(n_neighbors=3)
model3.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [49]:
y_pred = model3.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print("accuracy",accuracy)

accuracy 0.5